@font-face {
    font-family: Roboto; /* Имя шрифта */
    src: url(/fonts/RobotoRegular.ttf); /* Путь к файлу со шрифтом */
   }
@font-face {
    font-family: Montserrat; /* Имя шрифта */
    src: url(/fonts/Montserrat-Regular.otf); /* Путь к файлу со шрифтом */
   }

html, body{
	margin: 0;
	padding: 0;
	background-color: #fff;
	width: 100%;
	height: 628px;
	color: #000;
	font-family: 'Roboto', sans-serif;
}
a{
	color: #000;
	text-decoration: none;
	border: 1px dotted rgba(0,0,0,0.2);
}
a:hover{
	text-decoration: none;
}
h1{
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	padding: 0;
	margin: 0;
	font-size: 50px;
}
h2{
	padding: 20px;
	text-align: center;
	margin: 0;
	font-size: 20px;
}

.demo-card-square {
	width: 100%;
}


.mdl-card__title-text {
	/*position: relative;*/
	
}




.mdl-dialog {
	width: 100%;
}

.mdl-button--icon {
	color: #ffffff;
}

.top-bar {
	width: 100%;
	background: #3949AB;
}

.button-top {
	text-decoration: none;
	float: right;
	color: #ffffff;
}

.procc_table {
	width: 100%;
	height: 100%;
}
.desc{
	margin-left: 20px;
	color: #333;
	margin-bottom: 20px;
}
.mdl-card--expand{
	margin-bottom: 0;
}

.demo-card-square {
    box-shadow: none!important;
    border: none!important;
    height: 100%;
}
#progressbar {
	position: relative;
	top: 11px;
}

.ui-progressbar-value {
	background: #3949AB;
}
.skip{
	margin-left: 50px;
	width: 100px;
	color: #fff;
	background-color: red!important;
}
.like{
	float: right;
	margin-right: 50px;
	width: 100px;
	color: #fff;
	background-color: green!important;
}

/*/////////////////////////GUIDE//////////////////////////////*/

h2{
	display: inline-block;
	float: left;
}
.ico-star{
	width: 24px;
	height: 24px;
	background-image: url(/star.png);
	display: inline-block;
	float: left;
	margin-top: 21px;
	margin-left: 213px;
}
.rait{
	font-size: 20px;
	margin-top: 21px;
}
.demo-list-action {
  width: 300px;
}
.active-shit{
 	border-bottom: solid 2px red;
}

.mdl-card__supporting-text{
	padding-top: 0px;
}
.demo-list-icon{
	padding: 0;
	margin: 0;
}
.mdl-list__item{

}

.await {
    width: 135px;
    height: 30px;
    background-color: deepskyblue;
    float: right;
}


